/*
Reset per
- Azzerare margini
- Azzerare i padding
- Impostare il box sizing di tipo border-box
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS */

header {
    border-bottom: 2px black solid;
    padding: 8px;
}

.container{
    width: auto;
    margin: 24px;
}

section{
    border: 1px black solid;
    padding: 8px;
    margin: 16px;
}
