/*
Reset per
- Azzerare margini
- Azzerare i padding
- Impostare il box sizing di tipo border-box
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS */

header {
    border-bottom: 2px black solid;
    padding: 8px;
}

section{
    border: 2px black solid;
    padding: 8px;
    margin: 16px 40px;
    min-height: 140px;
}

footer{
    border-top: 2px black solid;
    padding: 8px;
}