/*
Reset per
- Azzerare margini
- Azzerare i padding
- Impostare il box sizing di tipo border-box
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS */

.page-header {
    border-bottom: 2px black solid;
    padding: 8px;
}

section {
    padding: 16px;
}


.article {
    border: 2px black solid;
    padding: 16px;
    margin: 0px auto;
    min-height: 140px;
    width: 400px;
    max-width: 100%;
}

.page-footer {
    border-top: 2px black solid;
    padding: 8px;
}